<div class="container">
  <h2>Управління списком об'єктів і матрицею попарних порівнянь</h2>

  <div class="row">
    <div class="col film-list">
      <h3>Список фільмів</h3>
      <input type="file" (change)="onFileUpload($event)">
      <ul>
        <li *ngFor="let obj of objects; let i = index" draggable="true" (dragstart)="onDragStart(i)"
          (dragover)="onDragOver($event)" (drop)="onDrop(i)">
          {{ obj.name }}
          <button class="remove-btn" (click)="removeObject(i)">×</button>
        </li>
      </ul>

      <input type="text" #newObject placeholder="Новий фільм">
      <button (click)="addObject(newObject.value)">Додати фільм</button>
    </div>

    <!-- Матриця попарних порівнянь -->
    <div *ngIf="sortedObjects.length > 0" class="col film-matrix">
      <h3>Матриця попарних порівнянь</h3>
      <table border="1">
        <tr>
          <th></th>
          <th *ngFor="let obj of sortedObjects">{{ obj.name }}</th>
        </tr>
        <tr *ngFor="let row of comparisonMatrix; let i = index">
          <td>{{ sortedObjects[i]?.name }}</td>
          <td *ngFor="let value of row">{{ value }}</td>
        </tr>
      </table>
    </div>


  </div>
</div>