<div class="container">
  <h2>Управління списком об'єктів і матрицею попарних порівнянь</h2>

  <!-- Вибір кількості експертів -->
  <div class="expert-controls">
    <button (click)="addExpert()">+</button>
    <button (click)="removeExpert()">-</button>
    <p>Кількість експертів: {{ experts.length }}</p>
  </div>
  <input type="file" (change)="onFileUpload($event)">
  <button (click)="clearExperts()" class="cl-b">Очистити експертів</button>

  <div class="main-container">

    <!-- Ліва секція: Експерти -->
    <div class="experts-container">

      <!-- Відображення експертів -->
      <div *ngIf="experts.length > 0">
        <div *ngFor="let expert of experts; let i = index" class="row expert-section">



          <!-- Ліва колонка: список -->
          <div class="col film-list">
            <h4>{{ expert.name }}</h4>
            <ul>
              <li *ngFor="let obj of expert.objects; let j = index" draggable="true" (dragstart)="onDragStart(i, j)"
                (dragover)="onDragOver($event)" (drop)="onDrop(i, j)">
                {{ obj.name }}
                <button class="remove-btn" (click)="removeObject(j, i)">×</button>
              </li>
            </ul>
            <input type="text" #newObject placeholder="Новий об'єкт">
            <button (click)="addObject(newObject.value)">Додати </button>
          </div>



          <!-- Права колонка: матриця -->
          <div class="col film-matrix">
            <h4>МПП</h4>
            <table border="1">
              <tr>
                <th></th>
                <th *ngFor="let obj of expert.sortedObjects">{{ obj.name }}</th>
              </tr>
              <tr *ngFor="let row of expert.matrix; let rowIndex = index">
                <td>{{ expert.sortedObjects[rowIndex].name }}</td>
                <td *ngFor="let value of row">{{ value }}</td>
              </tr>
            </table>

          </div>



          <!-- Таблиця векторів -->
          <div class="col film-vectors">
            <h4>Вектори </h4>
            <table border="1">
              <tr>
                <th>Номери об'єктів</th>
                <td *ngFor="let obj of objects">{{ obj.name }}</td>
              </tr>
              <tr>
                <th>Ранжування</th>
                <td *ngFor="let obj of expert.objects">{{ obj.name }}</td>
              </tr>
              <tr>
                <th>Ранги</th>
                <td *ngFor="let obj of expert.objects">{{ obj.value }}</td>
              </tr>
            </table>
          </div>



          <!-- Таблиця для Відстані Кука -->
          <div class="col film-cook-distance">
            <h4>Відстані Кука</h4>
            <div class="scrollable-table">
              <table border="1">
                <tr *ngFor="let cookData of cookDistances[i]?.exp">
                  <td *ngFor="let num of cookData.numVect">{{ num.value }}</td>
                  <td style="background-color: yellow">{{ cookData.sum }}</td>
                </tr>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>

    <!-- Права секція -->
    <div class="right-container">

      <div class="top-container">
        <!-- Всі можливі перестановки -->
        <div class="col all-possible">
          <h4>Всі можливі перестановки</h4>
          <div class="scrollable-table">
            <table border="1">
              <tr *ngFor="let permutation of allPossibleObjects">
                <td *ngFor="let obj of permutation.objects">{{ obj.value }}</td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Підсумкова таблиця -->
        <div class="col summary-table">
          <h4>Підсумкова таблиця</h4>
          <div class="scrollable-table">
            <table border="1">
              <thead>
                <tr>
                  <th>Сума</th>
                  <th>Макс</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of getSummaryTable()"
                  [style.background-color]=" row.totalSum === getMinTotalSum() && row.maxValue === getMinMaxAmongMinSums() ? 'lightgreen' : 'transparent' ">
                  <td>{{ row.totalSum }}</td>
                  <td>{{ row.maxValue }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>




      </div>


      <div class="bot-container">
        <!-- Вектори з мінімальною сумою -->
        <div class="col min-sum-vectors">
          <h4>Вектори з мінімальною сумою</h4>
          <div class="scrollable-table">
            <table>
              <tr *ngFor="let vector of getVectorsWithMinSum()">
                <td *ngFor="let obj of vector">{{ obj.name }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="hem-container">
        <h3>Обчислення відстані Хеммінга</h3>

        <!-- Вибір першого експерта -->
        <label for="expert1">Перший експерт:</label>
        <select id="expert1" [(ngModel)]="selectedExpert1" [disabled]="experts.length < 2">
          <option *ngFor="let expert of experts; let i = index" [value]="i">{{ expert.name }}</option>
        </select>

        <!-- Вибір другого експерта -->
        <label for="expert2">Другий експерт:</label>
        <select id="expert2" [(ngModel)]="selectedExpert2" [disabled]="experts.length < 2">
          <option *ngFor="let expert of experts; let i = index" [value]="i" [disabled]="i === selectedExpert1">{{
            expert.name }}</option>
        </select>

        <!-- Кнопка для обчислення -->
        <button (click)="computeHemmingDistance()" [disabled]="!canComputeHemming()">Знайти відстань Хеммінга</button>

        <!-- Виведення результату -->
        <div *ngIf="hemmingVector.length > 0" class="vector-output">
          <h4>Вектор першого експерта:</h4>
          <table border="1">
            <tr>
              <td *ngFor="let value of hemVec1" class="vector-item">{{ value }}
              </td>
            </tr>
          </table>

          <h4>Вектор другого експерта:</h4>
          <table border="1">
            <tr>
              <td *ngFor="let value of hemVec2" class="vector-item">{{ value }}
              </td>
            </tr>
          </table>

          <h4>Вектор Хеммінга:</h4>
          <table border="1">
            <tr>
              <td *ngFor="let value of hemmingVector; let i = index"
                [style.background-color]="i === hemmingVector.length - 1 ? 'yellow' : 'transparent'">
                {{ value }}
              </td>
            </tr>
          </table>
        </div>



      </div>
    </div>

    <!-- lab4 секція -->
    <div class="lab4-container">


    </div>
  </div>